* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }
  body{
    width: 100%;
    text-align: center;
  }
  .hamburger-icon {
    position: absolute;
    z-index: 100;
    top: 5vh;
    left: 6vw;
    padding-bottom: 2vh;
  }
  
  .hamburger-icon span {
    height: 5px;
    width: 40px;
    background-color: black;
    display: block;
    margin: 5px 0px 5px 0px;
    transition: 0.7s ease-in-out;
    transform: none;
    z-index: 10;
  }
  
  #openmenu:checked ~ .menu-pane {
    left: -5vw;
    transform: translateX(-5vw);
    z-index: 10;
  }
  
  #openmenu:checked ~ .body-text {
  display: none;
  }
  
  #openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
    transform: translate(0%, 175%) rotate(-45deg);
    background-color:black;
  }
  
  #openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
    transform: rotate(45deg);
    background-color: black;
  }
  
  #openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
    opacity: 0;
  }
  
  #openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
    opacity: 0;
  }
  div.menu-pane {
    position: absolute;
    transform: translateX(-100vw);
    transform-origin: (0, 0);
    width: 25vw;
    height: 100%;
    transition: 0.6s ease-in-out;
    top:0;
  }
  
  .menu-pane nav {
    padding: 18% 50%;
    background-color:#092766;
  }
  
  .menu-links li, a, span {
    transition: 0.5s ease-in-out;
  }
  
  .menu-pane ul {
    padding: 20%;
    display: inline-block;
  }
  
  .menu-pane li {
    padding-top: 22px;
    padding-bottom: 20px;
    margin-left: 5px;
    font-size: 1.2em;
    list-style-type: none;
  }
  
  .menu-links li a {
    color:white;
    text-decoration: none;
    font-family: 'Libre Caslon Text', Helvetica, sans-serif;
  }
  .menu-links li:first-child a {
    padding: 5px;
  }
  
  input.hamburger-checkbox {
    position: absolute;
    z-index: 3;
    top: 5vh;
    left: 5vw;
    width: 10vw;
    opacity: 0;
    height: 6vh;
  }
  @media screen and (max-width: 1300px) {
    .menu-pane nav {
      padding: 28% 45%;
    }
  }
  @media screen and (max-width: 1000px) {
    div.menu-pane {
      width: 30vw;
    }
    .menu-pane nav {
      padding: 34% 45%;
    }
  }
  @media screen and (max-width: 800px) {
    div.menu-pane {
      width: 40vw;
    }
    .menu-pane nav {
      padding: 25% 45%;
    }
  }
  @media screen and (max-width: 550px) {
    div.menu-pane {
      width: 50vw;
    }
    .menu-pane li {
      padding-top: 10px;
      padding-bottom: 15px;
      margin-left: 0px;
    }
    .menu-pane nav {
      padding: 35% 30%;
    }
  }

  /*--------formulaire -------------*/
  .carte-form{
    width: 300px;
    height: auto;
    margin: auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    margin-top: 5%;
  }
  .form-add{
    width: 400px;
    height: auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  }
 
 /*------------Carte + form-CategoryProduct---------------*/
 
 .carte{
  background-color:white;
}
.titleCarte{
  font-size: 4em;
  color: #8B5E3C;
}
.titleCategory{
  font-size:2em;
  border-top: 5px outset #712E1E;
  color: #8B5E3C;
}
@media screen and (max-width: 800px) {
  .titleCarte{
    font-size: 3em;
  }
}
/*-------------Schedule-------------*/
.title-schedule{
  width: 200px;
  height: auto;
  font-size: 50px;
  position: absolute;
  margin: 0 0 0px 500px;
}
/*------Picture------*/
.picture{
  position: absolute;
  margin-left: 10%;
  margin-top: 10%;
}
@media screen and (max-width: 550px) {
  .picture{
    margin-top: 25%;
  }
}

/*---------user-------------*/
.user{
  position: absolute;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
}
@media screen and (max-width: 1200px) {
  .user{
    margin-left: 15%;
  }
}
@media screen and (max-width: 1000px) {
  .user{
    margin-left: 15%;
  }
}
@media screen and (max-width: 800px) {
  .user{
    margin-left: 10%;
    width: 88%;
    margin-top: 8%;
  }
}
@media screen and (max-width: 600px) {
  .user{
    margin-left:8%;
    margin-top: 12%;
  }
}
@media screen and (max-width: 500px) {
  .user{
    margin-left: 5%;
  }
}
.ajoutProduct{
  position: relative;
  margin-bottom: 2%;
  width: 50%;
}
/*-------Horaire-------*/
.horaire{
  position: absolute;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
}