@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 20px;
}

body {
  font-family: 'Dancing Script', sans-serif;
  background-color: #D2B48C;
	width: 100%;
}


.hamburger-icon {
  position: absolute;
  z-index: 100;
  top: 5vh;
  left: 6vw;
  padding-bottom: 2vh;
}

.hamburger-icon span {
  height: 5px;
  width: 40px;
  background-color: white;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
  z-index: 10;
}

#openmenu:checked ~ .menu-pane {
  left: -5vw;
  transform: translateX(-5vw);
  z-index: 10;
}

#openmenu:checked ~ .body-text {
display: none;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
  transform: rotate(45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
  opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
  opacity: 0;
}

div.menu-pane {
  background-color: #8B5E3C;
  position: absolute;
  transform: translateX(-105vw);
  transform-origin: (0, 0);
  width: 25vw;
  height: 100%;
  transition: 0.6s ease-in-out;
}

.menu-pane p {
  color: black;
  font-size: 0.5em;
}

.menu-pane nav {
  padding: 15% 50%;
}

.menu-links li, a, span {
  transition: 0.5s ease-in-out;
}

.menu-pane ul {
  padding: 15%;
  display: inline-block;
}

.menu-pane li {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
    font-size: 1em;
}


.menu-pane li:first-child {
  font-size: 1.3em;
  margin-left: -10px;
}


.menu-links li a {
  color: white;
  text-decoration: none;
  font-family: 'Libre Caslon Text', Helvetica, sans-serif;
}


.menu-links li:hover a {
  color: #D2B48C;
}

.menu-links li:first-child:hover a {
  color: black;  
  background-color: #D2B48C;
}

#QC-info {
  background-color: #D2B48C;
  border: 2px solid;
  border-color: #D2B48C;
  display: block;
  opacity: 0;
  
}

.menu-links li:first-child:hover #QC-info {
  opacity: 1;
}

.menu-links li:first-child:hover #DC-info {
  opacity: 1;
}

#DC-info {
  background-color: #D2B48C;
  border: 2px solid;
  border-color: #D2B48C;
  display: block;
  opacity: 0;
}
.menu-links li:first-child a {
  padding: 5px;
}

input.hamburger-checkbox {
  position: absolute;
  z-index: 3;
  top: 5vh;
  left: 5vw;
  width: 10vw;
  opacity: 0;
  height: 6vh;
}
/*-------login--------*/

.carte-log{
  width: 400px;
  height: auto;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  text-align: center;
  position: absolute;
  margin: 50px 0 200px 500px;
}
/*-------header-----*/
.header-text {
  display: block;
  width: 100%;
  height: 350px;
  position: relative;
  background-image: url(/photo/Repas-Chalet.jpg);
  background-position:top;
  background-repeat: space;
  background-position-y:50%;
}
.title{
  font-size: 80px;
  text-align:center;
  font-weight: 900;
  padding-top: 100px;
  color: white;
  font-family: 'Libre Caslon Text', Helvetica, sans-serif;
}
.presentation{
  font-size: 35px;
  margin: auto;
  color: white;
  max-width: 90%;
}
@media screen and (max-width: 1300px) {
  .presentation {
    max-width: 80%;
  }
}
@media screen and (max-width: 1000px) {
  .header-text {
    height: 400px;
  }
  .title{
    font-size: 50px;
    font-weight: 800;
    padding-top: 150px;
  }
  .presentation{
    font-size: 45px;
  }
}
@media screen and (max-width: 550px) {
  .header-text {
    height: 500px;
  }
  .title {
    font-size: 60px;
  }
    .presentation{
      font-size: 18px;
  }
}
/*---------La Galerie-----------*/

.gallery {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
  padding: 0 14px;
  position: relative;
  margin-top: 50px;
}
.gallery::after {
  content:'';
  display:block;
  flex-grow: 10;
}
.gallery li {
  list-style-type: none;
  height: 250px;
  flex-grow: 1;
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .caption {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  display: none;
}
.gallery li:hover .caption {
  display: block;
}
.gallery .caption::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
}
@media screen and (max-width: 1300px) {
  .gallery li {
    height: 350px;
  }
}
@media screen and (max-width: 1000px) {
  
  .gallery li {
    height: 300px;
  }
}
/*@media screen and (max-width: 550px) {
  
}*/
/*---------Button Reservation---------*/
.wooden-button {
  background-color: #8B5E3C;
  color: white;
  font-family:'Libre Caslon Text';
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #7A7A7A;
  text-shadow: 1px 1px #7A7A7A;
  font-size: 20px;
  cursor: pointer;
  margin: 20px 0 10px 44%;
  transition: all 0.3s;
}
.wooden-button:hover {
  background-color: #664C28;
  box-shadow: 3px 3px 3px #7A7A7A;

}
@media screen and (max-width: 1300px) {
  .wooden-button {
    padding: 40px 60px;
    border-radius: 10px;
    font-size: 30px;
  }
}
/*----------------Carte---------------------*/
.carte{
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 14px;
  position: relative;
  margin-top: 50px;
  text-align: center;
  background-color:bisque;
}
.titleCarte{
  font-size: 60px;
  margin-bottom: 5%;
  color: #8B5E3C;
}
.titleCategory{
  font-size:xx-large;
  margin: 0;
  border-top: 5px outset #712E1E;
  color: #8B5E3C;
}
.descriptionCategory{
  font-style: italic;
}
.carteBorder{
  list-style-type: none;
}
.product{
  margin:10px;
}

.titleProduct{
  font-weight:bold;
}
.descriptionProduct{
  font-weight: lighter;
}
.price{
  font-weight:bold;
}

/*-------------Footer-----------*/
h2{
  font-size: 14px;
  font-weight:bold;
  
}
.footerBlock{
  position: relative;
  width: 50%;
  margin: 10px 0% 15% 32%;
}
.footer{
  width: 500px;
  height: 100%;
  font-size: 10px;
  text-align: center;
  margin: 5% 0% 0 0;
  position: absolute;
}
@media screen and (max-width: 1300px) {
  .footer{
    font-size: 18px;
    margin-right: 50%;
  }
  .footerBlock{
    margin: 10px 0% 30% 25%;
  }
}
  @media screen and (max-width: 1000px) {
    .footerBlock{
      margin: 10px 0% 30% 25%;
    }
}
@media screen and (max-width: 550px) {
  .footer{
    font-size: 25px;
  }
}