@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Libre Caslon Text;
  background-color: #D2B48C;
  z-index: 2;
  margin: 0;
}


.hamburger-icon {
  position: absolute;
  z-index: 100;
  top: 5vh;
  left: 5vw;
  padding-bottom: 2vh;
}

.hamburger-icon span {
  height: 5px;
  width: 40px;
  background-color: black;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
  z-index: 10;
}

#openmenu:checked ~ .menu-pane {
  left: -5vw;
  transform: translateX(-5vw);
  z-index: 10;
}

#openmenu:checked ~ .body-text {
display: none;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
  transform: rotate(45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
  opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
  opacity: 0;
}

div.menu-pane {
  background-color: #712E1E;
  position: absolute;
  transform: translateX(-105vw);
  transform-origin: (0, 0);
  width: 25vw;
  height: 100%;
  transition: 0.6s ease-in-out;
}

.menu-pane p {
  color: black;
  font-size: 0.5em;
}

.menu-pane nav {
  padding: 15% 50%;
}

.menu-links li, a, span {
      transition: 0.5s ease-in-out;
}

.menu-pane ul {
  padding: 15%;
  display: inline-block;
}

.menu-pane li {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
    font-size: 1em;
}


.menu-pane li:first-child {
  font-size: 1.3em;
  margin-left: -10px;
}


.menu-links li a {
  color: white;
  text-decoration: none;
}


.menu-links li:hover a {
  color: #FFAB91;
}

.menu-links li:first-child:hover a {
  color: black;  
  background-color: #FFAB91;
}

#QC-info {
  background-color: #FFAB91;
    border: 2px solid;
  border-color: #FFAB91;
display: block;
  opacity: 0;
  
}

.menu-links li:first-child:hover #QC-info {
opacity: 1;
}

.menu-links li:first-child:hover #DC-info {
opacity: 1;
}

#DC-info {
  background-color: #FFAB91;
    border: 2px solid;
  border-color: #FFAB91;
display: block;
  opacity: 0;
}


.menu-links li:first-child a {
  padding: 5px;
}



input.hamburger-checkbox {
  position: absolute;
  z-index: 3;
  top: 5vh;
  left: 5vw;
  width: 10vw;
  opacity: 0;
  height: 6vh;
}
/*-------header-----*/
.header-text {
  width: auto;
  height: 150px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  background-color: #712E1E;
}
h1{
  text-align: center;
}
/*---------La Galerie-----------*/

.gallery {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
  padding: 0 14px;
}
.gallery::after {
  content:'';
  display:block;
  flex-grow: 10;
}
.gallery li {
  list-style-type: none;
  height: 250px;
  flex-grow: 1;
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}