{% extends 'admin/baseAdmin.html.twig' %}
{% block body %}
<h1>La Carte</h1>

<a href="{{ path("carte-create") }}" type="button" class="btn btn-outline-primary"><img src="../photo/icons8-ajouter-une-propriété-48.png" alt="ajouter un horraire"></a>

<div class="deco left">
 <table class="table table-striped-columns">        

        <thead> 
            <tr>
            <th>Nom</th>
            </tr> 
        </thead>
        {% for carte in cartes %}
        <tbody> 
            <tr>
            <td>{{carte.title}}</td>

            </tr>
        {% endfor %}
        </tbody> 
    </table>
</div>
{% endblock %} 