<!DOCTYPE html>
{% set weekDay = [
    "Dimanche",
    "Lundi",
    "Mardi",
    "Mercredi",
    "Jeudi",
    "Vendredi",
    "Samedi",
] %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Quai Antique Admin{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/adminstyle.css')}}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
        {% block body %}{% endblock %}
   <body>


    <div class="navigation">
        <ul>
            <li>
                <a href="/">
                    <span class="icon"></span>
                    <span class="site">Site Admin</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span class="icon"><ion-icon name="storefront-outline"></ion-icon></span>
                    <span class="title">Le Site</span>
                </a>
            </li>
            <li>
                <a href="/admin/setups">
                    <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
                    <span class="title">Reservation</span>
                </a>
            </li>
            <li>
                <a href="/admin/picture/">
                    <span class="icon"><ion-icon name="images-outline"></ion-icon></span>
                    <span class="title">Photo</span>
                </a>
            </li>
            <li>
                <a href="/admin/carte">
                    <span class="icon"><ion-icon name="restaurant-outline"></ion-icon></span>
                    <span class="title">Notre Carte</span>
                </a>
            </li>
            
            <li>
                <a href="/admin/schedule">
                    <span class="icon"><ion-icon name="alarm-outline"></ion-icon></span>
                    <span class="title">Horraire</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="main">
        <div class="topbar">
            <div class="toggle">
              {#  <ion-icon name="menu-outline"></ion-icon>#}
            </div>
        </div>
    </div>

  
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>