{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
<div class="carte-form">
<h1>Crée horraire</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Ajouter</button>
            {{ form_end(form) }}
        
</div>
{% endblock %} 