{% extends 'admin/baseAdmin.html.twig' %}
{% block body %}
<div class="carte-form">
<h1>Ajouté une photo</h1>


{{ form_start(pictureForm) }}
    {{ form_row(pictureForm.title, {
            label:'Titre'
        }) }}

    {{ form_row(pictureForm) }}
{{ form_end(pictureForm) }}
</div>
{% endblock %} 