{% extends 'base.html.twig' %}
{% block body %}
<div class="header-text">
    <h1>Quai Antique Chambéry</h1>
    <div class="pictureHeader">

    <div>
</div>

<ul class="gallery">
  {% for picture in pictures %}
    <li>
      <img src={{asset('../uploads/picture/' ~ picture.picture)}}>
      <div class="caption">{{ picture.title }}</div>
    </li>
  {% endfor %}
</ul>
 

{% endblock %} 