{% extends 'base.html.twig' %}
{% block body %}
<ul class="gallery">
  <div class="presentation">
  <p>Le Chef Arnaud Michant aime passionnément les produits et producteurs de la Savoie.<br> 
  C’est pourquoi il a décidé d’ouvrir son troisième restaurant à Chambéry  "Quai Antique".<br> 
  Le Quai Antique vous proposera au déjeuner comme au dîner une expérience gastronomique, <br> 
  à travers une cuisine sans artifice.
  </p>
  </div>
  {% for picture in pictures %}
    <li>
      <img src={{asset('../uploads/picture/' ~ picture.picture)}}>
      <div class="caption">{{ picture.title }}</div>
    </li>
  {% endfor %}
</ul>
<a href="{{path('reservation')}}">
    <button  class="wooden-button">Réserver</button>
</a>
<div class="footerBlock">
  {% include 'footer.html.twig' %}
</div>
{% endblock %} 