{% extends 'base.html.twig' %}
{% block body %}
<div class="header-text">
    <h1>Quai Antique Chambéry</h1>
</div>

<ul class="gallery">
    <li><img src="/photo/montagnevile.jpg" alt="montagne"></li>
    <li><img src="/photo/fondue.jpg" alt=""></li>
    <li><img src="/photo/fondue-charcuterie.jpg" alt=""></li>
    <li><img src="/photo/fondue-pain.jpg" alt=""></li>
    <li><img src="/photo/fondue-repas.jpg" alt=""></li>
    <li><img src="/photo/montagnevile.jpg" alt=""></li>
    <li><img src="/photo/montagnevile.jpg" alt=""></li>
    <li><img src="/photo/montagnevile.jpg" alt=""></li>
    <li><img src="/photo/montagnevile.jpg" alt=""></li>
    <li><img src="/photo/montagnevile.jpg" alt=""></li>
    <li><img src="/photo/montagnevile.jpg" alt=""></li>

  </ul>




        


{% endblock %} 