{% extends 'base.html.twig' %}
{% block body %}
<div class="body-text">
    <h1>Quai Antique Chambéry</h1>
<div class="imgfont">
    <img src="/photo/montagnevile.jpg">
    
</div>
</div>





        


{% endblock %} 