{% extends 'base.html.twig' %}
{% block body %}
<div class="header-text">
    <h1>Quai Antique Chambéry</h1>
</div>
{% for picture in pictures %}
<ul class="gallery">
<li><img src={{asset('../uploads/picture/' ~ picture.picture)}}></li>
    {#<li><img src="/photo/montagnevile.jpg" alt="montagne"></li>#}
  </ul>
  {% endfor %}





        


{% endblock %} 