{% extends 'base.html.twig' %}
{% block body %}
<div class="carte-log">
    <h1 class"m-4">Mentions légales</h1>

    <p> 
        Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Quai antique l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.<br>
        <br>
        Edition du site <br>

        Le présent site, accessible à l’URL www.gdel84.fr (le « Site »), est édité par :<br>

        fr 84 000 000 ,<br> société au capital de 20000 euros,<br> inscrite au R.C.S. de CHAMBERY<br> sous le numéro RCS VANNES B 514 919 844,<br> dont le siège social est situé au 3 rue général De Gaulle 73018 Chambery,<br> représenté(e) par Arnaud Michant dûment habilité(e)<br>

        Le numéro individuel TVA de l’éditeur est : FR 40 123456789.<br>

        Hébergement<br>

        Le Site est hébergé par la société OVH SAS, situé 2 rue Kellermann - BP 80157 - 59053 Roubaix Cedex 1, (contact téléphonique ou email : 1007).<br>
        <br>
        Directeur de publication <br>

        Le Directeur de la publication du Site est Arnaud Michant .<br>
        <br>
        Nous contacter <br>

        Par téléphone : +33648000033<br>
        Par email : test@test.fr<br>
        Par courrier : 3 rue général de gaulle 73018 chambery<br>
        <br>
        Données personnelles<br>

        Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»). <br>

        Arnaud Michant a désigné un Délégué à la Protection des Données (DPO) auprès de la CNIL (Désignation N° ). Les coordonnées de notre Délégué à la Protection des Données sont les suivantes :<br>
        <br>
        Nom : Arnaud Michant<br>
        Adresse : pas loin de chez lui<br>
        Téléphone : +33658000033<br>
        Email : arnaud@test.fr<br>
        <br>
        Génération des mentions légales par Legalstart.<br>
    </p>
</div>

{% include 'footer.html.twig' %}
{% endblock %} 