{% extends 'base.html.twig' %}
{% block body %}
<h1>Mon Compte</h1>

<div class="example-wrapper">
     {{ form_start(form) }}
     {{ form_widget(form) }}
         <button type="submit" class="btn-login">Modifier</button>
     {{ form_end(form) }}
    
</div>


{% endblock %} 