{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="carte-log">
{{ form_start(form) }}        
       {{ form_row(form.plainPassword) }} 
{{ form_end(form) }}
</div>
{% include 'footer.html.twig' %}

{% endblock %}